<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ha a public mappában lévő fájlra érkezett a kérés, szolgáld ki a fájlt
  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ src/public/%1 [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*)  src/public/index.php [QSA]
</IfModule>